<% for column in Wish.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @wish.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @wish.id %> |
<%= link_to 'Back', :action => 'list' %>
