<div id="contentpane">
<div id="right">
<%= render_partial "search" %>
<div id="searchResult">
    </div>
    <div>
<!-- buddy list goes here -->
    </div>
</div>
<div id="left">
  <%= render_partial "userMain", @user %>
</div><!--main-->
</div> <!--contentpane-->

