<% for column in Purchase.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @purchase.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @purchase.id %> |
<%= link_to 'Back', :action => 'list' %>
